.description {
    position: relative;
    color: white;
    font-size: 3vw;
    text-transform: uppercase;
    margin-top: -30vh;
    padding: 30vh;
}

.description p {
    margin: 0px;
    position: relative;
}